*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено .idea/workspace (2).xml
Будет удалено app/google-services.json
Будет удалено app/libs/
Будет удалено app/src/main/res/drawable-v21/
